<div [ngClass]="{'editor': !editorSvc.activeEditor, 'editor_active':  editorSvc.activeEditor}">
  <div class="modal-editor">
    <div class="modal-editor__subtitle">Edit task?</div>
    <form class="editor-form" action="#">
      <textarea class="editor-form__textarea" name="task" maxlength="200" required [(ngModel)]="this.editorSvc.model"></textarea>
      <button class="editor-button" (click)="editorSvc.onCancel()">Cancel</button>
      <button class="editor-button button-active" (click)="editorSvc.onSave(editorSvc.indexOfEditor)">Save</button>
    </form>
  </div>
</div> <!--конец модального окна изменения текста задачи-->
